.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background: #fff9e6;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  max-height: 100vh;
  overflow-y: auto;
}

.popup h2 {
  font-size: 24px;
  color: #4b2e1f;
  font-weight: bold;
  text-align: center;
  margin-top: 0px !important;
  margin-bottom: -8px !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.form-group.expiration-row {
  margin-bottom: 40px !important;
}

.form-group label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: left;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding-left: 0;
}

.form-group input,
.form-group select {
  padding: 10px 12px;
  font-size: 16px;
  height: 44px;
  border: 2px solid #b79f8b;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #6d4b31;
  outline: none;
}

.unit-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23666'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.65rem center;
  background-size: 12px 8px;
  padding-right: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 210px;
  margin-top: 15px;
  margin-bottom: 0 !important;
}

.edit-submit-btn {
  background-color: #4faeea;
  color: #ffffff;
  border: 3px solid #248fd4 !important;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-submit-btn:hover {
  background-color: #4ea4eb;
}

.cancel-btn {
  background-color: #f2f2f2;
  color: #333;
  border: 3px solid #bbb !important;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn:hover {
  background-color: #e0e0e0;
}
